<DataBase>
<port> 3306
<host> localhost
SQL09.FREEMYSQL.NET
<user> root
thrashendeavor
<password> nevermore
<musicDatabase> music
<moviesDatabase> movies
<logPath> /home/thrasher/MultiDB

<WebReader>
<webEMSearch> http://www.metal-archives.com/search.php?string=
<webEMBand> http://www.metal-archives.com/band.php?id=
<webEMRelease> http://www.metal-archives.com/release.php?id=
<webEMLyrics> http://www.metal-archives.com/viewlyrics.php?id=
<webMBSearch> http://musicbrainz.org/search/textsearch.html?type=artist&query=
<webMBBand> http://musicbrainz.org/artist/
<bingSearch1> https://api.datamarket.azure.com/Bing/Search/Image?$top=
<bingSearch2> &$skip=1&$format=json&Query=
<bingAccountKey> q/A6WQyu0vO3KTSBuWct2DJaYopgVSwrbcs60F4aUjc=


<WebFTP>
<ftpUser> xth_10196416
<ftpPswd> Nev1986
<ftpHost> ftp.xtreemhost.com
<ftpDirectory> htdocs

<Blog>
<musicUpload> http://godlessendeavor.xtreemhost.com/updateMusicDB.php?fileName=
<moviesUpload> http://godlessendeavor.xtreemhost.com/updateMoviesDB.php?fileName=
<docsUpload> http://godlessendeavor.xtreemhost.com/updateDocsDB.php?fileName=
<blogUser> thrasher
<blogPswd> nevermore