<DataBase>
<port> 3306
<host> localhost
<user> root
<password> nevermore
<musicDatabase> movedb
<moviesDatabase> movies
<mysqlPath> D://Program Files//MySQL//MySQL Server 5.1//bin//

<WebReader>
<webEMSearch> http://www.metal-archives.com/search.php?string=
<webEMBand> http://www.metal-archives.com/band.php?id=
<webEMRelease> http://www.metal-archives.com/release.php?id=
<webEMLyrics> http://www.metal-archives.com/viewlyrics.php?id=

<WebFTP>
<ftpUser> zoby_4414827
<ftpPswd> nev1986
<ftpHost> ftp.zobyhost.com
<ftpDirectory> htdocs

<Blog>
<musicUpload> http://thrash.zobyhost.com/updateMusicDB.php?fileName=
<moviesUpload> http://thrash.zobyhost.com/updateMoviesDB.php?fileName=
<docsUpload> http://thrash.zobyhost.com/updateDocsDB.php?fileName=
<blogUser> thrasher
<blogPswd> nevermore