<DataBase>
<port> 3306
<host> localhost
<user> root
<password> nevermore
<musicDatabase> movedb
<moviesDatabase> movies
<mysqlPath> D://Program Files//MySQL//MySQL Server 5.1//bin//

<WebReader>
<webEMSearch> http://www.metal-archives.com/search.php?string=
<webEMBand> http://www.metal-archives.com/band.php?id=
<webEMRelease> http://www.metal-archives.com/release.php?id=
<webEMLyrics> http://www.metal-archives.com/viewlyrics.php?id=
<webMBSearch> http://musicbrainz.org/search/textsearch.html?type=artist&query=
<webMBBand> http://musicbrainz.org/artist/

<WebFTP>
<ftpUser> thrasher
<ftpPswd> Never1986
<ftpHost> thrash.heliohost.org
<ftpDirectory> public_html

<Blog>
<musicUpload> http://www.thrash.heliohost.org/updateMusicDB.php?fileName=
<moviesUpload> http://www.thrash.heliohost.org/updateMoviesDB.php?fileName=
<docsUpload> http://www.thrash.heliohost.org/updateDocsDB.php?fileName=
<blogUser> thrasher
<blogPswd> nevermore